<div class="container">

  <div class="login-section">
    <h2>Entrar</h2>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <label for="login-email">Nome de usuário ou e-mail</label>
      <input type="text" id="login-email" name="email" ngModel required>

      <label for="login-senha">Senha</label>
      <input type="password" id="login-senha" name="senha" ngModel required>

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
  </div>

  <div class="register-section">
    <h2>Cadastre-se</h2>
    <form #cadastroForm="ngForm" (ngSubmit)="onSubmit(cadastroForm)">
      <label for="nome">Nome de usuário</label>
      <input type="text" id="nome" name="nome" ngModel required>

      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" ngModel required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" ngModel required minlength="6">

      <button type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
    </form>
  </div>

  
  <div class="update-section">
    <h2>Gerenciar Conta</h2>
    <form #updateForm="ngForm" (ngSubmit)="onUpdate(updateForm)">
      <label for="userId">ID do Usuário</label>
      <input type="text" id="userId" name="id" ngModel required>

      <label for="novoNome">Novo Nome</label>
      <input type="text" id="novoNome" name="nome" ngModel>

      <label for="novoEmail">Novo E-mail</label>
      <input type="email" id="novoEmail" name="email" ngModel>

      <label for="novaSenha">Nova Senha</label>
      <input type="password" id="novaSenha" name="senha" ngModel>

      <button type="submit">Atualizar Usuário</button>
    </form>

    <form #deleteForm="ngForm" (ngSubmit)="onDelete(deleteForm)">
      <label for="deleteId">ID do Usuário</label>
      <input type="text" id="deleteId" name="id" ngModel required>
      <button type="submit">Excluir Usuário</button>
    </form>
  </div>

</div>
