<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/app/app.component.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <img src="/assets/logo.svg" alt="Logo" class="logo">
      <div class="search-bar">
        <input type="text" placeholder="Insira sua pesquisa">
        <i class="material-icons">search</i>
      </div>
      <ul class="right">
        <li><a href="#">Criar conta</a></li>
        <li><a href="#">Entrar</a></li>
        <img src="/assets/cart.svg" alt="Carrinho" class="cart-icon">
      </ul>
    </div>
  </nav>
</body>
</html>
