<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Informações de Contato</h5>
        <li><a class="grey-text text-lighten-3" href="#!">Endereço:</a></li>
        <p class="grey-text text-lighten-4">Informações de Contato</p>
        <li><a class="grey-text text-lighten-3" href="#!">Telefone</a></li>
        <p class="grey-text text-lighten-4">(44)99999-999</p>
        <li><a class="grey-text text-lighten-3" href="#!">Email:</a></li>
        <p class="grey-text text-lighten-4">planetabeach-sports&#64;email.com</p>

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Minha conta</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Acompanhe seus Pedidos</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Editar Cadastro</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Criar Conta</a></li>
        </ul>

        <h5 class="white-text">Institucional</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Sobre nós</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidade</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © Goettenauer Security
    
    </div>
  </div>
</footer>